<% if (data.ie8) { %>
<!--[if lt IE 9]>
script(src="js/es5.min.js")
<![endif]-->
<% } %>
script(src="js/library.min.js", type="text/javascript", charset="UTF-8")
script(src="js/module/common.min.js", type="text/javascript", charset="UTF-8")