doctype html
html(lang="en")
    head
        include html/module/public/head.jade
        include html/module/public/head_resources.jade
    body
        include html/module/public/header.jade
        include html/module/index.jade
        include html/module/public/footer.jade
        include html/module/public/foot_resources.jade